.news-block {
  width: 20%;
  padding: 15px;
  margin: 20px 0;
  background-color: #7b9c93;
}
.news-block__title {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}
.news-block__img {
  max-width: 100%;
  max-height: 300px;
}
.news-block__description {
  max-width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  margin-top: 15px;
  color: white;
}
@media (max-width: 1280px) {
  .news-block {
    width: 28%;
  }
}
@media (max-width: 960px) {
  .news-block {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .news-block {
    width: 100%;
    margin: 2px 0;
  }
}
